{% load static %}

<link rel="stylesheet" href="{% static 'css/computer_card_dark.css' %}">

<section id="computers">
    <div class="container">
        <h2 class="section-title">Lab Computers ({{ computers|length }})</h2>
        <div class="row">
            {% for computer in computers %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="computer-card">
                        <div class="card-header-pc">

                                <h5>
                                    <p>
                                        {{ computer.name }}
                                    </p>
                                </h5>

                            <div>
                                <i aria-valuetext="{{ computer.name }}" class="fas fa-clock-rotate-left fa-spin history-btn"
                                   style="color: white"
                                   title="history"
                                   data-bs-toggle="modal"
                                   data-bs-target="#historyModal">
                                </i>
                                <span class="status {{ computer.status|lower }}">{{ computer.status }}</span>
                            </div>
                        </div>
                        <div class="card-body">
{#                            <p><i class="fas fa-network-wired"></i> IP: {{ computer.ip_address }}</p>#}
                            <p><i class="fas fa-barcode"></i> MAC: {{ computer.mac_adr }}</p>
                        </div>
                        <div class="card-footer">
                            {% if computer.student_assigned %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Assigned to: {{ computer.student_assigned.name }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><strong>Email - code:</strong> {{ computer.student_assigned.email }}</li>
                                    </ul>
                                </div>
                            {% else %}
                                <span class="unassigned">Unassigned</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
