{% load static %}

<link rel="stylesheet" href="{% static 'css/computer_card_dark.css' %}">

<section id="computers">
    <div class="container">
        <h2 class="section-title">Lab Computers ({{ computers|length }})</h2>
        <div class="row">
            {% for computer in computers %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="computer-card">
                        <div class="card-header-pc">

                                <h5>
                                    <p>
                                        {{ computer.name }}
                                    </p>
                                </h5>

                            <div>
                                <i aria-valuetext="{{ computer.name }}" class="fas fa-clock-rotate-left fa-spin history-btn"
                                   style="color: white"
                                   title="history"
                                   data-bs-toggle="modal"
                                   data-bs-target="#historyModal">
                                </i>
                                <span class="status {{ computer.status|lower }}">{{ computer.status }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                <i class="fas fa-compass"></i> POSITION: (
                                Desk :  {{ computer.computer_position.x }} ,
                                Row : {{ computer.computer_position.y }}
                                )

                                <i aria-valuetext="{{ computer.name }}" class="fas fa-edit history-btn icon-edit-position"
                                 style="color: white; margin-left: 10px"
                                 title="edit position">
                                </i>
                            </p>
                            <p><i class="fas fa-barcode"></i> MAC: {{ computer.mac_adr }}</p>
                        </div>
                        <div class="card-footer">
                            {% if computer.student_assigned %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Assigned to: {{ computer.student_assigned.name }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><strong>Email - code:</strong> {{ computer.student_assigned.email }}</li>
                                    </ul>
                                </div>
                            {% else %}
                                <span class="unassigned">Unassigned</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Modal form -->
<div data-bs-backdrop="static"  class="modal fade " id="position-form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card mb-0">
                    <div class="card-header text-left">
                        <h3 class="fw-bolder text-success">Change Computer Position</h3>
                        <button id="btn-close-computer-form" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close form"></button>
                    </div>
                    <div class="card-body">
                        <form role="form text-left">
                            <label for="pc-position-x-edit">Position (X) / Desk </label> <i class="fa fa-arrow-right"></i>
                            <div class="input-group mb-3">
                                <select class="form-control input-square" id="pc-position-x-edit">
                                    <option selected>choose</option>
                                    <option>3</option>
                                    <option>2</option>
                                    <option>1</option>
                                    <option>0</option>
                                </select>
                                <small id="position-x-edit-Help" class="form-text text-muted invalid-feedback">Please choose a valid desk position.</small>
                            </div>

                            <label for="pc-position-y-edit">Position (Y) / Row </label> <i class="fa fa-arrow-up"></i>
                            <div class="input-group mb-3">
                                <select class="form-control input-square" id="pc-position-y-edit">
                                    <option selected>choose</option>
                                    <option>2</option>
                                    <option>1</option>
                                    <option>0</option>
                                </select>
                                <small id="position-y-edit-Help" class="form-text text-muted invalid-feedback">Please choose a valid desk position.</small>
                            </div>
                            <div class="text-center">
                                <button id="save-new-position-computer-btn" type="button" class="btn btn-round btn-success btn-lg w-100 mt-4 mb-0">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



