{% load static %}

<!-- Modal form -->
<div class="modal fade " id="student-form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card mb-0">
                    <div class="card-header text-left">
                        <i class="fa fa-plus-circle" ></i> <h3 class="fw-bolder text-success">Register Student</h3>
                    </div>
                    <div class="card-body">
                        <form role="form text-left">
                            <label>Student's Name</label>
                            <div class="input-group mb-3 has-validation">
                                <input
                                        id="student-name"
                                        type="text"
                                        class="form-control"
                                        placeholder="NOM et prenom"
                                        aria-label="Student's name"
                                        aria-describedby="student-addon"
                                        required="required"
                                        value="Dumera Ralph"
                                />
                                <small id="studentNameHelp" class="form-text text-muted invalid-feedback">Please provide a valid name.</small>

                            </div>
                            <label>Code</label>
                            <div class="input-group mb-3 has-validation">
                                <input
                                        id="student-code"
                                        type="text"
                                        class="form-control"
                                        placeholder="JH240101"
                                        aria-label="Student code"
                                        aria-describedby="student code-addon"
                                        required="required"
                                        value="DU204445"
                                />
                                <small id="studentCodeHelp" class="form-text text-muted invalid-feedback">
                                    <p>
                                        Invalid Code.
                                    </p>
                                </small>
                            </div>
                            <label>Email</label>
                            <div class="input-group mb-3 has-validation">
                                <input
                                        id="student-email"
                                        type="email"
                                        class="form-control"
                                        placeholder="doe@jhon@uniq.edu"
                                        aria-label="Student email"
                                        aria-describedby="student email addon"
                                        required="required"
                                        value="ralphdumera00@uniq.edu"
                                />
                                <small id="emailHelp" class="form-text text-muted invalid-feedback">
                                    <p>
                                        Invalid Email.
                                    </p>
                                </small>
                            </div>
                            <label for="student-status">Status</label>
                            <div class="input-group mb-3">
                                <select class="form-control input-square" id="student-status">
                                    <option selected>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                            <label for="assigned-computer">Assigned Computer</label>
                            <div class="input-group mb-3 has-validation">
                                <select class="form-control input-square " id="assigned-computer">
                                    <option selected>Choose</option>
                                    <option>PC-01</option>
                                    <option>PC-02</option>
                                    <option>PC-03</option>
                                </select>
                                <small id="computerHelp" class="form-text text-muted invalid-feedback">
                                    <p>
                                        Please choose a computer.
                                    </p>
                                </small>
                            </div>
                            <div class="text-center">
                                <button id="save-student-btn" type="button" class="btn btn-round btn-success btn-lg w-100 mt-4 mb-0">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


