{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - QuizHub </title>
    <link rel="icon" type="image/x-icon" href="https://uniq.edu.ht/images/logo.png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- Background Animation -->
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

{% if not creatingAccount %}
    <!-- Login Form -->
    <div class="login-container">
        <div class="form-header">
            <div class="logo">
                <i class="fas fa-gamepad"></i>
            </div>
            <h1>Welcome Back</h1>
            <p>Enter your credentials to access <strong> QuizHub </strong> system</p>
        </div>

        <form action="/login-page-quizHub" class="login-form" method="post">
            {% csrf_token %}

            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <input id="email" type="email" name="email" required placeholder="Email">
                <div class="input-line"></div>
            </div>

            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <input id="password" type="password" name="password" required placeholder="Password">
                <div class="input-line"></div>
            </div>

            <div disabled="disabled" class="form-options">
                <label class="remember-me">
                    <input id="remember" type="checkbox" name="remember">
                    <span class="checkmark"></span>
                    Remember me
                </label>
                {#                <a href="#" class="forgot-password">Forgot password?</a>#}
            </div>

            <button type="submit" class="login-btn">
                <span>Login</span>
                <i class="fas fa-sign-in-alt"></i>
            </button>
            <!-- Create Account Button -->
            <button type="button" class="create-account-btn" onclick="window.location.href='createAccount'">
                <span>Create Account</span>
                <i class="fas fa-user-plus"></i>
            </button>
        </form>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="login-container">
        <div class="form-header">
            <div class="logo">
                <i class="fas fa-gamepad"></i>
            </div>
            <h1>Welcome to QuizHub</h1>
            <p>Please, fill out the fields below, then click on "Submit" to create your <strong> QuizHub </strong> account.</p>
        </div>

        <form action="/createAccount" class="login-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <input id="email" type="email" name="email" required placeholder="Email">
                <div class="input-line"></div>
            </div>

            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-user"></i>
                </div>
                <input id="firstname" type="text" name="firstname" required placeholder="First name">
                <div class="input-line"></div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-user"></i>
                </div>
                <input id="laststname" type="text" name="lastname" required placeholder="Last name">
                <div class="input-line"></div>
            </div>

            <div class="form-group">
                <div class="input-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <input id="password" type="password" name="password" required placeholder="Password">
                <div class="input-line"></div>
            </div>


            <button type="submit" class="login-btn">
                <span>Submit</span>
                <i class="fas fa-sign-in-alt"></i>
            </button>
            <button type="button" class="create-account-btn" onclick="window.location.href='login-page-quizHub'">
                <span>Already have an account ? Login</span>
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}

</div>
<script src="{% static '/login.js' %}"></script>
</body>
</html>
