{% load static %}
<link rel="stylesheet" href="{% static 'css/quiz-template.css' %}">

{% if "Teacher" in user.groups.all|stringformat:"s" %}
    <section id="questions-block">
    {% include 'question_form.html' %}
    <div id="questions-list">
    {% for question in questions %}
        <div class="question-card">
            <div class="question-header">
                <span class="question-type">
                    {% if question.question_type == 'MC' %}
                        Multiple Choice
                    {% else %}
                        Short Answer
                    {% endif %}
                    <span style="font-size: medium; border: 1px solid green" class="text-uppercase text-center badge text-success text-hide">{{ question.points }} points</span>
                </span>
                {% if quiz_status != 'P' and quiz_status != 'A' %}
                <div class="question-actions">
                    <button class="edit-btn" onclick="editQuestion({{ question.question_id }})">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="remove-btn" onclick="removeQuestion({{ question.question_id }})">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                {% endif %}
            </div>

            <div class="question-content">
                <div class="question-text">
                    {{ question.question_text }}

                </div>

                <div class="answers-container">
                    {% if question.question_type == 'MC' %}
                        {% for answer in question.get_answers %}
                            <div class="answer-item {% if answer.is_correct %}correct-answer{% else %}incorrect-answer{% endif %}">
                                {{ answer.text }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="answer-item correct-answer">
                            {{ question.correct_answer }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="no-questions">
            <p>No questions have been added to this quiz yet.</p>
        </div>
    {% endfor %}
    </div>
</section>
{% else %}
    <section id="questions-block">
        <div id="questions-list">
            {% if not submitted %}
                {% for question in questions %}
                    <div data-question-id="{{ question.question_id }}" class="question-card">
                        <div class="question-header">
                        <span class="question-type">
                            {% if question.question_type == 'MC' %}
                                Multiple Choice
                            {% else %}
                                Short Answer
                            {% endif %}
                            <span style="font-size: medium; border: 1px solid green" class="text-uppercase text-center badge text-success text-hide">{{ question.points }} points</span>
                        </span>
                        </div>

                        <div class="question-content">
                            <div class="question-text">
                                {{ question.question_text }}
                            </div>

                            <div class="answers-container">
                                {% if question.question_type == 'MC' %}
                                    <div class="answers-container">
                                        {% for answer in question.get_answers %}
                                            <div  class="answer-item {% if not submitted %} answer-item-student
                                                        {% else %} answer-item-student-submitted {% endif %} text"
                                                  data-question-id="{{ question.question_id }}"
                                                  data-answer-id="{{ answer.id }}"
                                                  data-question-type = "{{ question.question_type }}"
                                            >
                                                <div class="answer-text">{{ answer.text }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div data-question-id="{{ question.question_id }}" class="answer-item {% if not submitted %} answer-item-student
                                                        {% else %} answer-item-student-submitted {% endif %} text-input-container">
                                        <input type="text" class="input-group" placeholder="Enter your answer here...">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <div class="no-questions">
                        <p>No questions have been added to this quiz yet.</p>
                    </div>
                {% endfor %}
                <div id="submit-now-btn" class="bottom-btn">
                    <button  class="btn btn-success" onclick="submitQuiz({{ quiz_id }}, '{{ quiz_title }}', '{{ csrf_token }}')">
                        Submit Now <i class="fas fa-share"></i>
                    </button>
                </div>
            {% else %}
                {% for question in questions %}
                    <div data-question-id="{{ question.question_id }}" class="question-card">
                        <div class="question-header">
                        <span class="question-type">
                            {% if question.question_type == 'MC' %}
                                Multiple Choice
                            {% else %}
                                Short Answer
                            {% endif %}
                            <span style="font-size: medium; border: 1px solid green" class="text-uppercase text-center badge text-success text-hide">{{ question.points }} points</span>
                        </span>
                        </div>

                        <div class="question-content">
                            <div class="question-text">
                                {{ question.question_text }}
                            </div>

                            <div class="answers-container">
                                {% if question.question_type == 'MC' %}
                                    <div class="answers-container">
                                        {% for answer in question.get_answers %}
                                            <div  class="answer-item {% if answer.is_correct %} correct-answer {% else %} incorrect-answer {% endif %}
                                                    {% for submission_answer in submission_answers %}
                                                        {% if answer.id == submission_answer.mca.id %}
                                                            selected fa {% if answer.is_correct %} fa-angle-double-up {% else %} fa-angle-double-down {% endif %}
                                                         {% endif %}
                                                    {% endfor %}
                                                    text">
                                                <div class="answer-text">{{ answer.text }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div data-question-id="{{ question.question_id }}" class="answer-item {% if not submitted %} answer-item-student
                                                        {% else %} answer-item-student-submitted {% endif %} text-input-container">
                                        <input type="text" class="input-group" placeholder="Enter your answer here...">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <div class="no-questions">
                        <p>No questions have been added to this quiz yet.</p>
                    </div>
                {% endfor %}

            {% endif %}
        </div>

    </section>

{% endif %}
<script src="{% static 'js/quiz-template.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const bottomBtn = document.querySelector('.bottom-btn');
        const questionsBlock = document.querySelector('#questions-block');

        if (bottomBtn && questionsBlock) {
            // Calculate when the button should start floating
            const handleScroll = () => {
                const questionsBottom = questionsBlock.getBoundingClientRect().bottom;
                const windowHeight = window.innerHeight;

                if (questionsBottom <= windowHeight + 100) {
                    bottomBtn.classList.remove('float-active');
                } else {
                    bottomBtn.classList.add('float-active');
                }
            };

            // Listen for scroll events
            window.addEventListener('scroll', handleScroll);

            // Initial check
            handleScroll();
        }
    });

    const submitQuiz = (quiz_id, quiz_title, csrf_token) => {
        const url = `/submitQuiz`;
        this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...';
        this.disabled = true;
        Swal.fire({
            title: "You're about to submit your answers, are you sure ?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            cancelButtonColor: "#d33",
            confirmButtonColor: "#48c048",
            confirmButtonText: "Yes, submit it!",
            preConfirm: async () => {
                try {
                    const dataToSend = {
                        answers: sessionStorage.getItem('answers'),
                        quiz_id: quiz_id,
                        quiz_title: quiz_title,

                    }
                    const response = await fetch(url, {
                         method: 'POST',
                         headers: {
                             'X-CSRFToken': csrf_token,
                             'Content-Type': 'application/json'
                         },
                         body: JSON.stringify(dataToSend)
                     });
                     if (!response.ok) {
                         return Swal.showValidationMessage(`${JSON.stringify(await response.json())}`);
                     }
                     return response.json();
                } catch (error) {
                    Swal.showValidationMessage(`Submission failed: ${error}`);
                }},
            allowOutsideClick: () => !Swal.isLoading(),
        }).then(confirmed => {
            if (confirmed.isConfirmed){
                Swal.fire({
                    title: "Submited Successfully",
                    text: "Your Quiz has been submited successfully!",
                    icon: "success",
                    confirmButtonColor: "#3085d6",
                }).then((res) => {
                    sessionStorage.setItem('answers', null);
                    document.getElementById('submit-now-btn').style.display = 'none';
                    location.reload();
                });
            }
        });
    }

</script>



