{% load static %}
<link rel="stylesheet" href="{% static 'css/quiz-list.css' %}">
{% if "Teacher" in user.groups.all|stringformat:"s" %}

    <section id="quiz-list">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title"><i class="fa fa-dashboard"></i> Dashboard</h2>
            <div class="search-wrapper">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-input" placeholder="Search quizzes by title, date, or status...">
            </div>
        </div>

        <div class="quiz-container">
            {% for quiz in quiz_list %}
            <!-- Quiz Card 1 -->
                <div class="quiz-card">
                <div class="quiz-header" >
                    <div class="quiz-info" >
                        <div class="title-status-wrapper">

                            <div onclick="window.location.href = 'quizHub/prepareQuiz/{{ quiz.quiz_id }}/edit/{{ quiz.title }}'"
                                 id="{{ quiz.quiz_id }}" class="stat-item stat-button" aria-roledescription="Click to Edit Quiz">
                                <i class="fas fa-edit" ></i>
                                <span>{{ quiz.title }}</span>
                            </div>
                            {% if quiz.status == 'S' %}
                                <span class="status-badge status-scheduled">Scheduled</span>
                            {% elif quiz.status == 'A' %}
                                <span class="status-badge status-ended">Archived</span>
                            {% elif quiz.status == 'P' %}
                                <span class="status-badge status-active">Published</span>
                            {% else %}
                                <span class="status-badge status-draft">Draft</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="quiz-stats">
                        <div {% if  quiz.submissions != 0 %} onclick="window.location.href = 'seeSubmissions/{{ quiz.quiz_id }}' " {% endif %} class="stat-item stat-button" aria-roledescription="see submissions">
                            <i class="fas fa-users" ></i>
                            <span>{{ quiz.submissions }} submissions</span>
                        </div>

                        <div class="stat-item">
                            <i class="fas fa-calendar"></i>
                            <span>{{ quiz.start }}</span>
                        </div>
                        <div class="stat-item">
                            <i class="fas fa-clock"></i>
                            <span>{{ quiz.duration }} mins</span>
                        </div>
                        <div class="stat-item" onclick="toggleQuiz(this)" aria-description="More details">
                            <i class="fa-solid fa-caret-down fa-2xl"></i>
                        </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <hr>
                    <div class="text-center ">
                        <h3 class="quiz-title">{{ quiz.description }}</h3>
                    </div>
                    <hr>

                    <ul class="question-list">

                        {% for question in questions %}
                            {% if question.quiz_id == quiz.quiz_id %}
                                <li class="question-item">
                                    <div class="question-header">
                                        <span>{{ question.question_text }}</span>
                                        <span class="question-points">{{ question.points }} points</span>
                                    </div>
                                    <ul class="answer-list">
                                        {% for answer in answers %}
                                            {% if answer.question_id == question.question_id %}
                                            <li class="answer-item {% if answer.is_correct %} correct {% endif %}">
                                                {{ answer.text }}
                                            </li>
                                           {% endif %}
                                        {% endfor %}
                                    </ul>
{#                            <div class="action-buttons">#}
{#                                <button><i class="fas fa-edit"></i> Edit</button>#}
{#                                <button><i class="fas fa-chart-bar"></i> Statistics</button>#}
{#                            </div>#}
                        </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% empty %}
                <div class="quiz-card">

                    <h4 class="text text-center text-warning">
                        <i class="fa fa-warning"></i>
                        No quizzes have been added yet.
                    </h4>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% else %}
    <section id="quiz-list">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title"><i class="fa fa-dashboard"></i> Student Dashboard</h2>
                <div class="search-wrapper">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" class="search-input" placeholder="Search quizzes by title, date, or status...">
                </div>
            </div>

            <div class="quiz-container">
                {% for quiz in quiz_list %}
                    <!-- Quiz Card 1 -->
                    {% if quiz.status == 'P' %}
                        <div class="quiz-card" onclick="window.location.href = '{% url 'takeQuiz' quiz.quiz_id quiz.title %}'">
                            <div class="quiz-header" >
                            <div class="quiz-info" >
                                <div class="title-status-wrapper">
                                    <div class="stat-item">
                                        <i class="fa-solid fa-clipboard-list fa-2xl" ></i>
                                        <span> {{ quiz.title }} <br>
                                            <strong>Teacher : </strong> {{ quiz.author }}</span>
                                    </div>
                                    {% if quiz.status == 'A' %}
                                        <span class="status-badge status-ended">Archived</span>
                                    {% elif quiz.status == 'P' %}
                                        <span class="status-badge status-active">Active</span>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="quiz-stats">
                                <div class="stat-item stat-button" aria-roledescription="Total quiz points">
                                    <i class="fas fa-trophy" ></i>
                                    <span>{{ quiz.total_point }} Points</span>
                                </div>

                                <div class="stat-item">
                                    <i class="fas fa-calendar"></i>
                                    <span> <strong>Since :</strong> {{ quiz.start|date:'D, M d, Y - h:i a' }}</span>
                                </div>
                                <div class="stat-item">
                                    <i class="fas fa-clock"></i>
                                    <span>{{ quiz.duration }} mins</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}
                <hr>
                {% for submission in submission_list %}
                    <!-- Quiz Card 1 -->
                    {% if submission.quiz.status %}
                        <div class="quiz-card" onclick="window.location.href = '{% url 'takeQuiz' submission.quiz.quiz_id submission.quiz.title %}'">
                            <div class="quiz-header" >
                                <div class="quiz-info">
                                    <div class="title-status-wrapper">


                                        <div class="stat-item">
                                            <i class="fa-solid fa-clipboard-list fa-2xl" ></i>
                                            <span> {{ submission.quiz.title }} <br>
                                            <strong>Teacher : </strong> {{ quiz.author }}</span>
                                        </div>

                                        <span class="status-badge status-active">
                                            <i class="fas fa-check"></i>Submitted
                                        </span>
                                    </div>
                                </div>
                                <div class="quiz-stats">
                                    <div class="stat-item stat-button" aria-roledescription="Total quiz points">
                                        <i class="fas fa-trophy" ></i>
                                        <span>
                                            <span class="fa text-success"> {{ submission.score }}
                                            </span> / {{ submission.quiz.total_point }}
                                        </span>
                                    </div>

                                    <div class="stat-item">
                                        <i class="fas fa-calendar"></i>
                                        <span> {{ submission.quiz.start|date:'D, M d, Y - h:i a' }}</span>
                                    </div>

                                    {% if not submission.isLate %}
                                        <div class="stat-item">
                                        <i class="fas fa-clock"></i>
                                        <span>Delay : Yes </span>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<style>
    /* Add this to your existing CSS */
    .title-status-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .quiz-title {
        margin: 0;  /* Remove any default margins */
    }
</style>
