{% load static %}

<link rel="stylesheet" href="{% static 'css/devices_up.css' %}">
<section id="devices_up" class="py-5">
    <div class="container">
        <h2 class="section-title text-center mb-5">Connected Devices <span>({{ connected_devices }})</span></h2>
        <div class="row justify-content-center">
            <!-- Example Device Card -->
            {% for device in devices %}
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="device-card">
                        <div class="device-icon">
                            {% if device.0 == 'UNKNOWN' %} <!-- Fallback for unknown device -->
                                <i class="fas fa-question-circle"></i>
                            {% elif 'desktop' in device.0 or 'pc' in device.0 %}
                                <i class="fas fa-desktop"></i>
                            {% elif 'laptop' in device.0 or 'mac' in device.0 %}
                                <i class="fas fa-laptop"></i>
                            {% elif 'tablet' in device.0 or 'ipad' in device.0 %}
                                <i class="fas fa-tablet-alt"></i>
                            {% elif 'mobile' in device.0 or 'phone' in device.0 %}
                                <i class="fas fa-mobile-alt"></i>
                            {% elif 'tv' in device.0 or 'smart-tv' in device.0 %}
                                <i class="fas fa-tv"></i>
                            {% elif 'console' in device.0 or 'playstation' in device.0 or 'xbox' in device.0 %}
                                <i class="fas fa-gamepad"></i>
                            {% else %}
                                <i class="fas fa-mobile-alt"></i>
                            {% endif %}
                        </div>

                        <div class="device-info">
                            <h3 class="device-name">{{ device.0}}</h3>
                            <p class="device-ip">IP: {{ device.1  }}</p>
                            <p class="device-ip">MAC: {{ device.2  }}</p>
                            <p class="device-status">Status: <span class="text-success">Online</span></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Add more device cards here -->
{#            <div class="col-md-4 col-lg-3 mb-4">#}
{#                <div class="device-card">#}
{#                    <div class="device-icon">#}
{#                        <i class="fas fa-laptop"></i>#}
{#                    </div>#}
{#                    <div class="device-info">#}
{#                        <h3 class="device-name">Laptop-User1</h3>#}
{#                        <p class="device-ip">IP: 192.168.0.102</p>#}
{#                        <p class="device-status">Status: <span class="text-success">Online</span></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4 col-lg-3 mb-4">#}
{#                <div class="device-card">#}
{#                    <div class="device-icon">#}
{#                        <i class="fas fa-mobile-alt"></i>#}
{#                    </div>#}
{#                    <div class="device-info">#}
{#                        <h3 class="device-name">Phone123</h3>#}
{#                        <p class="device-ip">IP: 192.168.0.103</p>#}
{#                        <p class="device-status">Status: <span class="text-warning">Idle</span></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4 col-lg-3 mb-4">#}
{#                <div class="device-card">#}
{#                    <div class="device-icon">#}
{#                        <i class="fas fa-mobile-alt"></i>#}
{#                    </div>#}
{#                    <div class="device-info">#}
{#                        <h3 class="device-name">Phone123</h3>#}
{#                        <p class="device-ip">IP: 192.168.0.103</p>#}
{#                        <p class="device-status">Status: <span class="text-warning">Idle</span></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>
</section>